<mat-toolbar color="primary">
  <button (click)="menuIconclicked()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Admin Dashboard </span>
  <span class="example-spacer"></span>
  <!-- my icon1 -->
  <button mat-icon-button class="example-icon favorite-icon"  aria-label="Example icon-button with heart icon">
    <mat-icon> settings </mat-icon>
  </button>
  <!-- icon2 -->
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon> help</mat-icon>
  </button>
  <!-- icon3 -->
  <button [matMenuTriggerFor]=" menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon> person_outline</mat-icon>
    
<mat-menu #menu="matMenu">
  <button mat-menu-item><mat-icon>exit_to_app</mat-icon> sign out</button>
</mat-menu>
  </button>
</mat-toolbar>