<div class="admin">
    <img src="https://i0.wp.com/i.pinimg.com/originals/81/2c/22/812c229c60047ee347f778135cd76b81.gif?resize=160,120"   alt="">

    <h2>Admin</h2>
    <p>admin@gmail.com</p>
</div>

<mat-divider> </mat-divider>
<div class="pages">
    <h3> Pages </h3>
    <a routerLink="" > <mat-icon>dashboard</mat-icon> Dashboard </a>
    <a routerLink="gallery" style="color: white;" > <mat-icon>photos</mat-icon> Gallery </a>
    <a routerLink="employee" > <mat-icon>persons</mat-icon> Employees </a>
</div>

<mat-divider> </mat-divider>
<div class="tools">
    <h3>Tools</h3>

    <a routerLink="add-employee" > <mat-icon>person_add</mat-icon>
        Add employee</a>
    <a routerLink="lead"> <mat-icon>person</mat-icon>  Leads </a>

</div>



