

<div class="card">

    <!-- card  -->
<mat-card> 
    <app-card
    bg="orange"
    icon="import_contacts"
    content="Admissions"
    total="3000"
    ></app-card>
</mat-card>


<mat-card> 
    <app-card
    bg="green"
    icon="home"
    content="Placements"
    total="2000"
    ></app-card>
</mat-card>


<mat-card> 
    <app-card 
    bg="blue"
    icon="person"
    content="Student"
    total="3000"
    ></app-card>
</mat-card>


<mat-card> 
    <app-card
    bg="red"
    icon="group"
    content="Employee"
    total="100"
    ></app-card>
</mat-card>
    

</div>

<br>

<div >

    <!-- area-chart  -->
    <app-area-chart></app-area-chart>
</div>

<div class="parent">
    <div>

        <!-- table -->
        <app-table></app-table>
    </div>

    <div>

        <!-- pie chart -->
        <app-pie-chart></app-pie-chart>
    </div>

</div>
